footer,
.page__footer-follow,
.page__footer-copyright {
  display: none !important;
}

.page__hero--overlay .page__title,
.page__hero--overlay .page__lead,
.page__hero--overlay .page__meta {
  text-align: center;
}

.page__hero--overlay .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}