---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
  max-width: 1000px;   // or try 1100px, 1200px, etc.
  margin-left: auto;
  margin-right: auto;
}

.page {
  max-width: 1000px;
}

footer,
.page__footer-follow,
.page__footer-copyright {
  display: none !important;
}